Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: []
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 73b0f6d59bbfcb75e17a4653d581c9dfaca13969  # v0.12.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bash -c 'cd apps/frontend && npm run format:check'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

fix: address Copilot PR review comments
  apps/backend/scripts/export_training_data.py
  apps/backend/src/alembic/versions/20260130_17_add_ai_training_samples.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/models/ai_training_samples.py
  apps/backend/src/services/chat_agent/training_capture.py
Due: none

test(feedback): add integration tests for feedback API endpoint
  apps/backend/tests/test_feedback_api.py
Due: none

Feat/chat-history-training-foundation (#312)
  apps/backend/scripts/export_training_data.py
  apps/backend/src/alembic/versions/20260130_17_add_ai_training_samples.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/api/v1/feedback.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/ai_training_samples.py
  apps/backend/src/models/chat_conversations.py
  apps/backend/src/schemas/ai_training_samples.py
  apps/backend/src/services/chat_agent/training_capture.py
  apps/backend/tests/test_feedback_api.py
  apps/backend/tests/test_training_capture.py
  apps/frontend/src/api/endpoints/feedback.ts
  apps/frontend/src/components/chat/ChatMessage.tsx
  apps/frontend/src/components/chat/FeedbackButtons.test.tsx
  apps/frontend/src/components/chat/FeedbackButtons.tsx
  apps/frontend/src/types/Chat.ts
Due: frontend-lint, frontend-format-check

feat(application): centralize AI model factory with Azure OpenAI support
  .env.example
  apps/backend/README.md
  apps/backend/scripts/backfill_embeddings.py
  apps/backend/src/alembic/versions/20260131_18_add_embedding_model_tracking.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/api/v1/recipes.py
  apps/backend/src/core/config.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/services/ai/agents.py
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/src/services/context_generator.py
  apps/backend/src/services/embedding_service.py
  apps/backend/tests/services/test_context_generator.py
  apps/backend/tests/services/test_embedding_service.py
  apps/backend/tests/test_ai_extraction.py
  apps/backend/tests/test_grocery_lists_api.py
  docs/DEPLOYMENT.md
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/modules/openai.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none

test(application): add comprehensive tests for AI model factory and health endpoints
  apps/backend/tests/services/test_chat_title_generator.py
  apps/backend/tests/services/test_context_generator.py
  apps/backend/tests/services/test_embedding_service.py
  apps/backend/tests/services/test_model_factory.py
  apps/backend/tests/test_health.py
Due: none

feat(application): fix deployment and improve Azure OpenAI configuration
  .env.example
  apps/backend/README.md
  apps/backend/scripts/backfill_embeddings.py
  apps/backend/src/core/config.py
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/src/services/context_generator.py
  apps/backend/tests/services/test_chat_title_generator.py
  docs/DEPLOYMENT.md
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/modules/openai.bicep
  infra/parameters/main.prod.bicepparam
Due: none

feat(application): refactor Azure OpenAI API key handling and remove sensitive outputs
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/modules/openai.bicep
Due: none

feat(application): add low reasoning effort for OpenAI reasoning models and backfill script enhancements
  apps/backend/scripts/backfill_embeddings.py
  apps/backend/src/services/ai/model_factory.py
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none

feat(application): update Azure OpenAI account reference to use resourceNames directly
  infra/main.bicep
Due: none

feat(application): update Azure OpenAI model configurations and capacities
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none

feat(application): update Azure OpenAI deployment SKUs to GlobalStandard and Standard
  infra/modules/openai.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none

feat(application): disable Azure OpenAI deployment and clear model configurations
  infra/parameters/main.dev.bicepparam
Due: none

feat(application): enable Azure OpenAI deployment and update model configurations
  infra/modules/openai.bicep
  infra/parameters/main.dev.bicepparam
Due: none

fix(infra): pass model names to Container App for Azure OpenAI
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

feat(application): centralize AI model factory with Azure OpenAI support (#314)
  .env.example
  apps/backend/README.md
  apps/backend/scripts/backfill_embeddings.py
  apps/backend/src/alembic/versions/20260131_18_add_embedding_model_tracking.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/api/v1/recipes.py
  apps/backend/src/core/config.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/services/ai/agents.py
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/src/services/context_generator.py
  apps/backend/src/services/embedding_service.py
  apps/backend/tests/services/test_chat_title_generator.py
  apps/backend/tests/services/test_context_generator.py
  apps/backend/tests/services/test_embedding_service.py
  apps/backend/tests/services/test_model_factory.py
  apps/backend/tests/test_ai_extraction.py
  apps/backend/tests/test_grocery_lists_api.py
  apps/backend/tests/test_health.py
  docs/DEPLOYMENT.md
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/modules/openai.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none

fix: reasoning model params and markdown list rendering
  apps/backend/src/services/context_generator.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
Due: frontend-lint, frontend-format-check

fix: address PR #315 review feedback on dependency placement and reasoning model detection (#316)
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/context_generator.py
  apps/backend/tests/services/test_context_generator.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix: move @tailwindcss/typography to dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix: clean up whitespace in reasoning model checks and test assertions
  apps/backend/src/services/context_generator.py
  apps/backend/tests/services/test_context_generator.py
Due: none

fix(ci): make combined coverage informational, add per-flag targets
  codecov.yml
Due: none

fix: reasoning model params and markdown list rendering (#315)
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/context_generator.py
  apps/backend/tests/services/test_context_generator.py
  apps/frontend/package-lock.json
  apps/frontend/tailwind.config.js
  codecov.yml
Due: frontend-lint, frontend-format-check

fix: update useEffect dependencies to ensure correct week loading based on local timezone
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/utils/dateUtils.ts
Due: frontend-lint, frontend-format-check

Fix timezone handling to use browser local time instead of UTC (#318)
  apps/frontend/package-lock.json
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/utils/__tests__/dateUtils.test.ts
  apps/frontend/src/utils/dateUtils.ts
Due: frontend-lint, frontend-format-check

feat(application): enhance AI agent observability and improve memory management
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/tools/memory.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/tests/services/test_chat_title_generator.py
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

feat(training): add persona definitions with full agent tool coverage
  apps/backend/src/training/__init__.py
  apps/backend/src/training/personas.py
  apps/backend/src/training/query_templates.py
  apps/backend/tests/training/test_personas.py
Due: none

fix(application): address PR 324 review comments
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/chat_title_generator.py
Due: none

fix(security): resolve 2 high-severity CVEs in Python dependencies
  apps/backend/pyproject.toml
  apps/backend/src/core/security.py
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/test_auth.py
  apps/backend/tests/test_security.py
  apps/backend/uv.lock
Due: none

feat(training): add persona definitions with full agent tool coverage (#325)
  apps/backend/src/training/__init__.py
  apps/backend/src/training/personas.py
  apps/backend/src/training/query_templates.py
  apps/backend/tests/training/test_personas.py
Due: none

Change package-ecosystem from 'pip' to 'uv'
  .github/dependabot.yml
Due: none

Add open-pull-requests-limit and commit-message prefix
  .github/dependabot.yml
Due: none

test(application): add comprehensive test coverage for chat and recipe helpers
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/services/test_chat_title_generator.py
  apps/backend/tests/test_chat_training_data_helpers.py
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: frontend-lint, frontend-format-check

fix(security): add type hint for payload in decode_draft_token function
  apps/backend/src/core/security.py
Due: none

Change package-ecosystem from 'pip' to 'uv' (#327)
  .github/dependabot.yml
Due: none

feat(application): enhance AI agent observability and improve memory management (#324)
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/tools/memory.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/services/test_chat_title_generator.py
  apps/backend/tests/test_chat_training_data_helpers.py
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: frontend-lint, frontend-format-check

fix(security): Resolve 2 high-severity CVEs (CVE-2024-23342, CVE-2026-0994) (#326)
  apps/backend/pyproject.toml
  apps/backend/src/core/security.py
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/test_auth.py
  apps/backend/tests/test_security.py
  apps/backend/uv.lock
Due: none

feat(cloud): add azure openai parameterization and tool call retries
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/tests/services/test_chat_title_generator.py
  infra/main.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
Due: none
