Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: []
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 73b0f6d59bbfcb75e17a4653d581c9dfaca13969  # v0.12.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bash -c 'cd apps/frontend && npm run format:check'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

Update apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
Due: frontend-lint, frontend-format-check

fix(application): resolve meal plan page crash and mobile UX issues (#363)
  apps/frontend/src/api/endpoints/mealPlans.ts
  apps/frontend/src/components/MobileMealCard.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/__tests__/MobileMealCard.test.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
Due: frontend-lint, frontend-format-check

feat(azureml): add training pipeline infrastructure and data export (#360)
  .gitignore
  apps/backend/pyproject.toml
  apps/backend/scripts/export_training_data.py
  apps/backend/scripts/upload_training_data.py
  config.json.example
  training/setup_environment.py
Due: none

fix(application): reduce chat token load and support single-recipe detail fetch
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/tools/__init__.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/embedding_service.py
  apps/backend/src/training/query_templates.py
  apps/backend/src/training/seed_database.py
  apps/frontend/src/api/endpoints/chat.ts
Due: frontend-lint, frontend-format-check

fix(application): relax chat training helper agent generic typing
  apps/backend/src/api/v1/chat.py
Due: none

feat(application): include full recipe link metadata in details tool
  apps/backend/src/services/chat_agent/tools/recipes.py
Due: none

Update apps/frontend/src/api/endpoints/chat.ts
  apps/frontend/src/api/endpoints/chat.ts
Due: frontend-lint, frontend-format-check

fix(application): align chat payload exports and tests
  apps/backend/scripts/export_training_data.py
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/test_chat_training_data_helpers.py
  apps/frontend/src/api/endpoints/__tests__/chat.test.ts
  training/data/grpo_prompts.json
Due: frontend-lint, frontend-format-check

fix: stabilize chat token budget and add single-recipe detail fetch (#366)
  apps/backend/scripts/export_training_data.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/tools/__init__.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/embedding_service.py
  apps/backend/src/training/query_templates.py
  apps/backend/src/training/seed_database.py
  apps/backend/tests/services/test_chat_agent_tools.py
  apps/backend/tests/test_chat_training_data_helpers.py
  apps/frontend/src/api/endpoints/__tests__/chat.test.ts
  apps/frontend/src/api/endpoints/chat.ts
  training/data/grpo_prompts.json
Due: frontend-lint, frontend-format-check

feat(azureml): update DAPT training scripts and add job submission script for Azure ML
  training/scripts/dapt_train.py
  training/scripts/sft_train.py
  training/scripts/submit_dapt_test_jobs.py
Due: none

feat(azureml): add training pipeline infrastructure and data export
  training/list_models.py
  training/register_models.py
  training/register_models_simple.py
Due: none

feat(grpo): add GRPO training script, reward functions, and job submission script for Azure ML
  training/scripts/grpo_train.py
  training/scripts/reward_functions.py
  training/scripts/submit_grpo_jobs.py
Due: none

feat(azureml): add SFT training scripts with Unsloth and Azure ML integration
  apps/backend/scripts/analyze_token_lengths.py
  training/environments/unsloth-env.yml
  training/scripts/dapt_train.py
  training/scripts/sft_train.py
  training/scripts/submit_test_jobs.py
  training/setup_environment.py
Due: none

fix(azureml): stabilize GRPO on V100 and add reward variance tests
  training/scripts/grpo_train.py
  training/scripts/reward_functions.py
  training/scripts/submit_grpo_jobs.py
  training/tests/__init__.py
  training/tests/test_reward_functions.py
Due: none

git commit -m "feat(data): align training data with actual pydantic-ai API format
  apps/backend/scripts/export_training_data.py
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_training_data_helpers.py
  training/scripts/grpo_train.py
  training/scripts/sft_train.py
  training/scripts/submit_grpo_jobs.py
Due: none

chore(data): ignore GRPO prompts file
  .gitignore
Due: none

fix(grpo): use Unsloth-patched LFM2.5 model to avoid dynamo crash
  apps/backend/src/api/v1/chat.py
  training/scripts/grpo_train.py
  training/scripts/submit_grpo_jobs.py
Due: none

fix(azureml): wrap legacy format warning for ruff compliance
  apps/backend/scripts/export_training_data.py
Due: none

feat(azureml): finalize Track E training scripts and data export alignment (#362)
  .gitignore
  apps/backend/scripts/analyze_token_lengths.py
  apps/backend/scripts/export_training_data.py
  apps/backend/tests/test_chat_training_data_helpers.py
  training/environments/unsloth-env.yml
  training/list_models.py
  training/register_models.py
  training/register_models_simple.py
  training/scripts/dapt_train.py
  training/scripts/grpo_train.py
  training/scripts/reward_functions.py
  training/scripts/sft_train.py
  training/scripts/submit_dapt_test_jobs.py
  training/scripts/submit_grpo_jobs.py
  training/scripts/submit_test_jobs.py
  training/setup_environment.py
  training/tests/__init__.py
  training/tests/test_reward_functions.py
Due: none

fix: reconstruct system prompt in training capture from known deps
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/__init__.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/tests/test_chat_training_data_helpers.py
Due: none

fix: address PR review feedback on training data system prompt capture
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/__init__.py
  apps/backend/src/services/chat_agent/agent.py
Due: none

test: address review feedback on training data helpers
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/tests/test_chat_training_data_helpers.py
Due: none

fix: remove unreachable null guard in build_datetime_instructions
  apps/backend/src/services/chat_agent/agent.py
Due: none

fix: reconstruct system prompt in training data capture from known deps (#370)
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/__init__.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/tests/test_chat_training_data_helpers.py
Due: none

fix(application): return newest messages first in chat history pagination
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_conversation_history.py
  apps/backend/tests/test_chat_message_history.py
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(application): return newest messages first in chat history pagination (#373)
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_conversation_history.py
  apps/backend/tests/test_chat_message_history.py
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(bicep): update CognitiveServices API version to 2025-06-01
  infra/main.bicep
  infra/modules/openai.bicep
Due: none

fix(bicep): update CognitiveServices API version to 2025-06-01 (#374)
  infra/main.bicep
  infra/modules/openai.bicep
Due: none

fix(bicep): add raiPolicyName and bump to API 2025-09-01
  infra/modules/openai.bicep
Due: none

fix(bicep): bump main.bicep existing account ref to 2025-09-01
  infra/main.bicep
Due: none

fix(bicep): add raiPolicyName and bump API to 2025-09-01
  infra/main.bicep
  infra/modules/openai.bicep
Due: none

fix(bicep): disable Azure OpenAI deployment in dev
  infra/parameters/main.dev.bicepparam
Due: none

fix(bicep): disable Azure OpenAI deployment in dev (#377)
  infra/parameters/main.dev.bicepparam
Due: none

feat(azureml): add DAPT, SFT, and GRPO pipeline component definitions
  training/components/dapt.yaml
  training/components/grpo.yaml
  training/components/sft.yaml
  training/pipeline.py
Due: none

feat(azureml): add pipeline orchestration with submission CLI and config presets
  training/configs/dapt_sft.json
  training/configs/full_pipeline.json
  training/configs/sft_only.json
  training/pipeline.py
  training/submit_pipeline.py
Due: none

feat(azureml): update training pipeline scripts and configs
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  training/components/dapt.yaml
  training/components/grpo.yaml
  training/components/sft.yaml
  training/configs/dapt_sft.json
  training/configs/full_pipeline.json
  training/configs/sft_lfm25_1.2b.json
  training/configs/sft_qwen35_0.8b.json
  training/environments/unsloth-env.yml
  training/pipeline.py
  training/scripts/dapt_train.py
  training/scripts/grpo_train.py
  training/scripts/sft_train.py
Due: none

build(application): update frontend dependencies (minor/patch)
  apps/frontend/package-lock.json
Due: frontend-format-check

fix(application): add cleanup to MealPlanPage mobile test
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check

build(application): update frontend dependencies (minor/patch) (#402)
  apps/frontend/package-lock.json
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check
