Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: []
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 73b0f6d59bbfcb75e17a4653d581c9dfaca13969  # v0.12.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bash -c 'cd apps/frontend && npm run format:check'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

test(auth): add comprehensive tests for email verification and password reset
  .env.example
  .pre-commit-config.yaml
  .secrets.baseline
  apps/backend/src/api/v1/auth.py
  apps/backend/src/crud/user.py
  apps/backend/tests/test_auth_flows.py
  apps/backend/tests/test_email.py
  apps/backend/tests/test_security.py
  apps/backend/tests/test_user_crud.py
Due: none

feat(auth): implement email verification and password reset flows (#183)
  .env.example
  .pre-commit-config.yaml
  .secrets.baseline
  apps/backend/pyproject.toml
  apps/backend/src/alembic/versions/20251130_08_add_is_verified_to_users.py
  apps/backend/src/api/v1/auth.py
  apps/backend/src/core/config.py
  apps/backend/src/core/email.py
  apps/backend/src/core/security.py
  apps/backend/src/crud/user.py
  apps/backend/src/models/users.py
  apps/backend/src/schemas/auth.py
  apps/backend/tests/test_auth.py
  apps/backend/tests/test_auth_flows.py
  apps/backend/tests/test_auth_register.py
  apps/backend/tests/test_email.py
  apps/backend/tests/test_security.py
  apps/backend/tests/test_user_crud.py
  apps/backend/uv.lock
Due: none

fix(cloud): pass Upstash Redis secrets as environment variables
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

fix(cloud): guard upstash secret wiring
  infra/modules/containerapps.bicep
  infra/parameters/main.prod.bicepparam
Due: none

fix(cloud): pass Upstash Redis secrets as environment variables (#188)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/parameters/main.prod.bicepparam
Due: none

fix(cloud): pass Upstash Redis secrets as environment variables
  infra/modules/containerapps.bicep
Due: none

fix(cloud): correct Bicep syntax errors in containerapps module
  infra/modules/containerapps.bicep
Due: none

fix(cloud): pass Upstash Redis secrets as environment variables (#189)
  infra/modules/containerapps.bicep
Due: none

Fix/cloud upstash redis env vars (#190)
  infra/modules/containerapps.bicep
Due: none

fix(cloud): specify alembic.ini path in workflow commands
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix(cloud): specify alembic.ini path in workflow commands (#191)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix(alembic): ensure asyncpg driver is used for PostgreSQL URLs in migrations
  apps/backend/src/alembic/env.py
Due: none

fix(alembic): reuse _normalize_asyncpg_url helper to fix URL conversion bug
  apps/backend/src/alembic/env.py
Due: none

fix(alembic): ensure asyncpg driver is used for PostgreSQL URLs in mi… (#192)
  apps/backend/src/alembic/env.py
Due: none

fix(application): update alembic.ini sys.path and container secrets
  .secrets.baseline
  apps/backend/src/alembic.ini
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
Due: none

fix(application): update alembic.ini sys.path and container secrets (#193)
  .secrets.baseline
  apps/backend/src/alembic.ini
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
Due: none

fix(build): add environment-scoped OIDC to image build workflow
  .github/workflows/build-images.yml
Due: none

fix(workflow): add permissions section to determine-environment job
  .github/workflows/build-images.yml
Due: none

fix(build): add environment-scoped OIDC to image build workflow (#194)
  .github/workflows/build-images.yml
Due: none

feat(auth): add resend-verification endpoint with rate limiting and tests
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/auth.py
  apps/backend/src/schemas/auth.py
  apps/backend/tests/test_auth_flows.py
  apps/backend/uv.lock
Due: none

feat(frontend): add auth API types and functions for email verification flows
  apps/frontend/src/api/endpoints/auth.ts
  apps/frontend/src/types/auth.ts
Due: frontend-lint, frontend-format-check

feat(frontend): add email verification, forgot password, and reset password pages
  apps/frontend/src/pages/ForgotPasswordPage.tsx
  apps/frontend/src/pages/ResetPasswordPage.tsx
  apps/frontend/src/pages/VerifyEmailPage.tsx
Due: frontend-lint, frontend-format-check

feat(frontend): update LoginPage with resend verification and RegisterPage success state
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/routerConfig.tsx
Due: frontend-lint, frontend-format-check

feat(application): add email verification, password reset, and auth improvements
  .secrets.baseline
  apps/backend/mypy.ini
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/auth.py
  apps/backend/uv.lock
  apps/frontend/src/api/client.ts
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
Due: frontend-lint, frontend-format-check

test(application): add tests for email verification and password reset pages
  apps/frontend/src/pages/VerifyEmailPage.tsx
  apps/frontend/src/pages/__tests__/ForgotPasswordPage.test.tsx
  apps/frontend/src/pages/__tests__/ResetPasswordPage.test.tsx
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(application): harden email verification flows
  .secrets.baseline
  apps/backend/mypy.ini
  apps/backend/src/api/v1/auth.py
  apps/frontend/src/api/__tests__/auth.test.ts
  apps/frontend/src/pages/LoginPage.test.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/VerifyEmailPage.tsx
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
Due: frontend-lint, frontend-format-check

Feature/auth pages email verification (#195)
  .secrets.baseline
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/auth.py
  apps/backend/src/schemas/auth.py
  apps/backend/tests/test_auth_flows.py
  apps/frontend/src/api/__tests__/auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/auth.ts
  apps/frontend/src/pages/ForgotPasswordPage.tsx
  apps/frontend/src/pages/LoginPage.test.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/ResetPasswordPage.tsx
  apps/frontend/src/pages/VerifyEmailPage.tsx
  apps/frontend/src/pages/__tests__/ForgotPasswordPage.test.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/__tests__/ResetPasswordPage.test.tsx
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/types/auth.ts
Due: frontend-lint, frontend-format-check

fix(application): unblock frontend build for glob security update
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/hooks/useUnsavedChanges.ts
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/utils/apiHealthService.ts
Due: frontend-lint, frontend-format-check

docs(application): note CI check names for rulesets
  .secrets.baseline
  README.md
Due: none

docs(application): note CI check names for rulesets (#196)
  .secrets.baseline
  README.md
Due: none

feat(bicep): add comprehensive coding standards and instructions for Bicep development
  .github/workflows/ci.yml
Due: none

feat(bicep): add comprehensive coding standards and instructions for Bicep development (#198)
  .github/workflows/ci.yml
Due: none

Release to prod (#199)
  .github/workflows/ci.yml
  .secrets.baseline
  README.md
Due: none

git commit -m "fix(bicep): resolve first-time deploy race condition for ACR credentials
  .github/instructions/bicep/bicep-standards.md
  .github/instructions/bicep/bicep.instructions.md
  .github/instructions/bicep/bicep.md
  .github/instructions/commit-message.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/uv-projects.instructions.md
  infra/main.bicep
  infra/modules/acr.bicep
Due: none

fix(bicep): revert ACR credential outputs for security
  .github/instructions/task-implementation.instructions.md
  infra/main.bicep
  infra/modules/acr.bicep
Due: none

Chore/ci run on production prs 20251215 (#206)
  .github/instructions/bicep/bicep-standards.md
  .github/instructions/bicep/bicep.instructions.md
  .github/instructions/bicep/bicep.md
  .github/instructions/commit-message.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/uv-projects.instructions.md
Due: none

merge (#207)
  .github/instructions/bicep/bicep-standards.md
  .github/instructions/bicep/bicep.instructions.md
  .github/instructions/bicep/bicep.md
  .github/instructions/commit-message.instructions.md
  .github/instructions/task-implementation.instructions.md
  .github/instructions/uv-projects.instructions.md
  .github/workflows/ci.yml
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix(infra): reference existing verified custom domain for ACS Email
  infra/main.bicep
  infra/modules/communication.bicep
Due: none
