Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd apps/frontend && npm run format:check'
  language: system
  pass_filenames: false

fix(application): restore frontend lock metadata and align Node support
  .github/workflows/ci-build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .nvmrc
  apps/frontend/package-lock.json
  apps/frontend/package.json
  scripts/check-node.sh
Due: frontend-format-check

feat(application): add recipe-contextual Nibble conversations
  .secrets.baseline
  apps/backend/src/alembic/versions/20260928_20_add_recipe_context_to_chat_conversations.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/dependencies/db.py
  apps/backend/src/models/chat_conversations.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/schemas/chat_streaming.py
  apps/backend/src/services/chat_agent/__init__.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/deps.py
  apps/backend/tests/services/test_chat_agent.py
  apps/backend/tests/test_chat_conversation_history.py
  apps/backend/tests/test_chat_recipe_context.py
  apps/backend/tests/test_chat_retention.py
  apps/backend/tests/test_chat_schemas.py
  apps/backend/tests/test_chat_streaming.py
  apps/backend/tests/test_chat_training_data_helpers.py
  apps/backend/tests/test_cors_security.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/routerConfig.test.tsx
  apps/frontend/src/api/endpoints/__tests__/chat.test.ts
  apps/frontend/src/api/endpoints/chat.ts
  apps/frontend/src/components/chat/ChatInput.tsx
  apps/frontend/src/components/chat/ConversationList.tsx
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/RecipesDetail.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
  apps/frontend/src/pages/__tests__/RecipesDetail.test.tsx
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
  apps/frontend/src/types/Chat.ts
  scripts/check_migrations.sh
Due: frontend-lint, frontend-format-check

fix(application): address contextual chat review findings
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/tests/services/test_chat_agent.py
  apps/backend/tests/test_chat_conversation_history.py
  apps/backend/tests/test_chat_streaming.py
  apps/backend/uv.lock
  apps/frontend/src/components/chat/ConversationList.tsx
  apps/frontend/src/components/chat/__tests__/ConversationList.test.tsx
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/RecipesDetail.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
  apps/frontend/src/pages/__tests__/RecipesDetail.test.tsx
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(application): restore frontend lock metadata
  apps/frontend/package-lock.json
Due: frontend-format-check

fix(application): reconcile stale recipe chat threads
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(workflows): add least-privilege permissions to ci workflow
  .github/workflows/ci.yml
Due: none

fix(application): harden recipe chat selection ordering and gating
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

build(application): pin @types/node to proxy-admitted release
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

chore(instructions): document package proxy quarantine workflow
  .github/copilot-instructions.md
  scripts/check_npm_lock_availability.mjs
Due: none

fix(application): omit explicit Gemini generation parameters
  apps/backend/README.md
  apps/backend/src/services/context_generator.py
  apps/backend/tests/services/test_context_generator.py
  apps/backend/tests/services/test_model_factory.py
Due: none

Path conditions:
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
