Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd apps/frontend && npm run format:check'
  language: system
  pass_filenames: false

fix(application): fix meal plan accept failures from chat assistant
  apps/frontend/src/api/endpoints/mealPlans.ts
  apps/frontend/src/pages/RecipesNewPage.tsx
Due: frontend-lint, frontend-format-check

fix(application): address PR review comments on duplicate recipe flow
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(build): fix vitest mock hoisting in RecipesNewPage tests
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
Due: frontend-lint, frontend-format-check

test(application): improve duplicate recipe handling tests
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(observability): enrich chat traces and harden local telemetry setup
  apps/backend/README.md
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/observability.py
  apps/backend/src/dev/pydanticai_ui.py
  apps/backend/uv.lock
  docker-compose.dev.yml
Due: none

revert(observability): remove non-observability port config from dev compose
  apps/backend/tests/test_chat_training_data_helpers.py
  docker-compose.dev.yml
Due: none

fix(backend): regenerate uv.lock after merge with origin/main
  apps/backend/uv.lock
Due: none

build(application): consolidate frontend dependency upgrades
  apps/frontend/eslint.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/test/setupTests.ts
  apps/frontend/tsconfig.app.json
  apps/frontend/vite.config.ts
  apps/frontend/vitest.config.ts
Due: frontend-lint, frontend-format-check

fix(application): update Gemini model from preview to GA
  .env.example
  apps/backend/README.md
  apps/backend/src/core/config.py
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

fix(application): include unitless grocery-list ingredients
  apps/backend/src/api/v1/grocery_lists.py
  apps/backend/src/crud/grocery_lists.py
  apps/backend/tests/test_grocery_lists_api.py
Due: none

fix(application): preserve structural containers in html cleanup
  apps/backend/src/services/ai/html_extractor.py
  apps/backend/tests/ai/test_html_extractor.py
Due: none

fix(application): recover assistant meal proposal flow
  apps/backend/src/api/v1/chat.py
  apps/backend/src/schemas/chat_content.py
  apps/backend/src/services/chat_agent/tools/meal_proposals.py
  apps/backend/tests/services/test_meal_proposal_tool.py
  apps/frontend/src/api/endpoints/chat.ts
  apps/frontend/src/components/chat/__tests__/MealProposalBlock.test.tsx
  apps/frontend/src/components/chat/blocks/MealProposalBlock.tsx
  apps/frontend/src/components/recipes/AddByUrlModal.tsx
  apps/frontend/src/components/recipes/__tests__/AddByUrlModal.test.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
  apps/frontend/src/stores/useChatStore.ts
  apps/frontend/src/types/Chat.ts
  apps/frontend/src/utils/__tests__/mealProposalStatus.test.ts
  apps/frontend/src/utils/mealProposalStatus.ts
Due: frontend-lint, frontend-format-check

fix(application): address assistant recovery review feedback
  apps/frontend/src/api/endpoints/__tests__/chat.test.ts
  apps/frontend/src/components/chat/__tests__/MealProposalBlock.test.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
  apps/frontend/src/stores/useChatStore.ts
  apps/frontend/src/utils/__tests__/mealProposalStatus.test.ts
  apps/frontend/src/utils/mealProposalStatus.ts
Due: frontend-lint, frontend-format-check

fix(application): serialize chat tool DB session access
  apps/backend/src/services/chat_agent/deps.py
  apps/backend/src/services/chat_agent/tools/meal_history.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/src/services/chat_agent/tools/weather.py
  apps/backend/tests/services/test_chat_agent.py
Due: none

fix(application): address assistant db review comments
  apps/backend/src/services/chat_agent/tools/weather.py
  apps/backend/src/services/weather.py
  apps/backend/tests/services/test_chat_agent.py
Due: none

feat(observability): enable pydantic ai tracing
  apps/backend/src/core/observability.py
  apps/backend/tests/test_observability.py
Due: none

feat(observability): reconcile chat tool telemetry
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/observability.py
  apps/backend/tests/test_chat_streaming.py
  apps/backend/tests/test_chat_tool_stream_events.py
Due: none

feat(observability): trace recipe draft creation
  apps/backend/src/core/observability.py
  apps/backend/src/services/chat_agent/tools/suggestions.py
  apps/backend/tests/services/test_chat_agent_tools.py
Due: none

feat(observability): add backend trace validation support
  .env.example
  apps/backend/src/core/observability.py
  apps/backend/tests/test_observability.py
  docs/SECURITY_IMPLEMENTATION.md
Due: none

feat(observability): enhance OpenTelemetry tracing in AI draft and extraction services
  apps/backend/src/services/ai/draft_service.py
  apps/backend/src/services/ai/image_orchestrator.py
  apps/backend/src/services/ai/url_orchestrator.py
  apps/backend/tests/test_observability.py
Due: none

fix(application): serialize stream tool-result DB writes
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_tool_stream_events.py
Due: none

fix(build): unblock dependency update CI and deploy action runtime
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  apps/backend/src/models/recipes_names.py
Due: none

fix(bicep): pass subscription ID to deployments
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix(build): align local formatting checks with CI
  Makefile
  apps/frontend/src/components/chat/blocks/ActionBlock.tsx
  apps/frontend/src/components/ui/Badge.tsx
  apps/frontend/src/components/ui/Button.tsx
  apps/frontend/src/components/ui/Input.tsx
  apps/frontend/src/lib/telemetry.ts
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/types/AIDraft.ts
  apps/frontend/src/types/Chat.ts
Due: frontend-lint, frontend-format-check

build(application): consolidate dependency updates
  .github/workflows/ci-build.yml
  .github/workflows/ci.yml
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/chat.py
  apps/backend/src/services/ai/model_factory.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/tests/test_chat_streaming.py
  apps/backend/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix(build): restore reproducible dependency validation
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix(build): pin npm for reproducible CI installs
  .github/workflows/ci-build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  apps/frontend/package.json
Due: frontend-format-check

fix(build): restore npm lockfile compatibility
  apps/frontend/package-lock.json
Due: frontend-format-check

fix(application): address dependency review findings
  apps/backend/pyproject.toml
  apps/backend/tests/services/test_model_factory.py
  apps/backend/uv.lock
  apps/frontend/package-lock.json
Due: frontend-format-check

feat(application): keep mobile navigation reachable
  apps/frontend/index.html
  apps/frontend/src/components/Navigation.test.tsx
  apps/frontend/src/components/Navigation.tsx
  docs/assets/issues/591/mobile-landscape-menu.png
  docs/assets/issues/591/mobile-sticky-recipe.png
Due: frontend-lint, frontend-format-check

feat(application): enforce strict recipe ownership
  .secrets.baseline
  apps/backend/src/alembic/versions/20260928_19_finalize_recipe_ownership.py
  apps/backend/src/api/v1/mealplans.py
  apps/backend/src/api/v1/recipes.py
  apps/backend/src/dependencies/auth.py
  apps/backend/src/models/ingredient_names.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/services/chat_agent/tools/recipes.py
  apps/backend/tests/services/test_chat_agent.py
  apps/backend/tests/test_authorization_integration.py
  apps/backend/tests/test_authorization_simple.py
  apps/backend/tests/test_mealplans_api.py
  apps/backend/tests/test_recipes_api.py
  db/init/02-schema-setup.sql
  docs/OWNERSHIP_MIGRATION.md
  scripts/check_migrations.sh
Due: none

fix(application): limit sticky navigation to mobile
  apps/frontend/src/components/Navigation.test.tsx
  apps/frontend/src/components/Navigation.tsx
Due: frontend-lint, frontend-format-check

fix(application): handle ownership migration collisions
  apps/backend/src/alembic/versions/20260928_19_finalize_recipe_ownership.py
  docs/OWNERSHIP_MIGRATION.md
  scripts/check_migrations.sh
Due: none

build(build): constrain SQLAlchemy to supported 2.0 series
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

feat(application): recover read-only assistant tool failures
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/observability.py
  apps/backend/src/core/transient_errors.py
  apps/backend/src/services/ai/html_extractor.py
  apps/backend/src/services/ai/url_orchestrator.py
  apps/backend/src/services/chat_agent/agent.py
  apps/backend/src/services/chat_agent/deps.py
  apps/backend/src/services/chat_agent/tool_recovery.py
  apps/backend/src/services/chat_agent/tools/web.py
  apps/backend/src/services/web_search.py
  apps/backend/tests/ai/test_api_extract_nonstream.py
  apps/backend/tests/ai/test_api_extract_stream.py
  apps/backend/tests/ai/test_html_extractor.py
  apps/backend/tests/services/test_chat_tool_recovery.py
  apps/backend/tests/test_chat_conversation_history.py
  apps/backend/tests/test_chat_streaming.py
  apps/backend/tests/test_chat_tool_stream_events.py
Due: none

fix(application): retry transient weather and Gemini failures
  apps/backend/src/core/transient_errors.py
  apps/backend/src/services/chat_agent/tools/weather.py
  apps/backend/src/services/weather.py
  apps/backend/tests/services/test_chat_tool_recovery.py
  apps/backend/tests/test_weather_service.py
Due: none

fix(application): preserve lookup timeouts and report tool failures
  apps/backend/src/services/chat_agent/tool_recovery.py
  apps/backend/tests/services/test_chat_tool_recovery.py
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(application): retry HTTP 408 and database pool timeouts
  apps/backend/src/core/transient_errors.py
  apps/backend/tests/services/test_chat_tool_recovery.py
Due: none

build(application): coordinate frontend dependency upgrades
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

test(application): align frontend assertions with valid user flows
  apps/frontend/src/pages/RecipesNewPage.test.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

Path conditions:
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
