Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 73b0f6d59bbfcb75e17a4653d581c9dfaca13969  # v0.12.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bash -c 'cd apps/frontend && npm run format:check'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

Refactor ESLint and Vite configuration imports; add Tailwind CSS config
  apps/frontend/eslint.config.js
  apps/frontend/src/App.test.tsx
  apps/frontend/src/App.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/vite.config.ts
Due: frontend-lint, frontend-format-check

Add .env.example template and update .gitignore for environment files
  .env.example
  .gitignore
Due: none

feat: implement multi-environment Docker Compose setup with PostgreSQL
  .gitignore
  Makefile
  README.md
  db/README.md
  db/backup.sh
  db/init/01-init.sql
  db/init/02-schema-setup.sql
  db/maintenance.sh
  db/restore.sh
  db/schema.sql
Due: none

feat: implement production-ready backend Dockerfile with uv and FastAPI
  apps/backend/Dockerfile
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

feat: implement production-ready frontend Dockerfile with Vite and nginx
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/frontend/postcss.config.js
Due: frontend-lint, frontend-format-check

feat: implement proper API architecture and frontend-backend connectivity
  apps/backend/src/api/v1/__init__.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/main.py
  apps/frontend/src/App.tsx
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/health.ts
  apps/frontend/src/api/index.ts
  apps/frontend/src/hooks/useApiTest.ts
  apps/frontend/src/types/api.ts
  scripts/validate-env.py
Due: frontend-lint, frontend-format-check

feat: add script to generate individual diff files for changed files
  .gitignore
  scripts/README.md
  scripts/generate-diffs.sh
Due: none

fix: reorder import statement for useApiTest in App component feat: add newline for better readability in API index file
  apps/frontend/src/App.tsx
Due: frontend-lint, frontend-format-check

feat: improve security, config validation, and dev UX
  apps/backend/src/main.py
  apps/frontend/src/api/client.ts
  db/init/01-init.sql
  db/init/02-schema-setup.sql
  docker-compose.prod.yml
  nginx/nginx.conf
  scripts/validate-env.py
Due: frontend-lint, frontend-format-check

Refactor CORS validation and frontend API base URL logic
  apps/backend/src/main.py
  apps/frontend/src/api/client.ts
Due: frontend-lint, frontend-format-check

feat: implement proper API architecture and frontend-backend connectivity (#10)
  .env.example
  .gitignore
  Makefile
  README.md
  apps/backend/Dockerfile
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/__init__.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/main.py
  apps/backend/uv.lock
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/frontend/eslint.config.js
  apps/frontend/postcss.config.js
  apps/frontend/src/App.test.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/health.ts
  apps/frontend/src/api/index.ts
  apps/frontend/src/hooks/useApiTest.ts
  apps/frontend/src/types/api.ts
  apps/frontend/tailwind.config.js
  apps/frontend/vite.config.ts
  db/README.md
  db/backup.sh
  db/init/01-init.sql
  db/init/02-schema-setup.sql
  db/maintenance.sh
  db/restore.sh
  db/schema.sql
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  nginx/conf.d/default.conf
  nginx/nginx.conf
  scripts/README.md
  scripts/generate-diffs.sh
  scripts/validate-env.py
Due: frontend-lint, frontend-format-check

Add initial Copilot and agent instruction files, prompt templates, and update Makefile
  .github/chatmodes/4.1-Beast.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/backend-python-fastapi.instructions.md
  .github/instructions/frontend-react-typescript.instructions.md
  .github/prompts/create-fastapi-endpoint.prompt.md
  .github/prompts/create-react-component.prompt.md
  Makefile
Due: none

fix: correct indentation and resolve merge conflict in Makefile
  Makefile
Due: none

Copilotmodes (#11)
  .github/chatmodes/4.1-Beast.chatmode.md
  .github/copilot-instructions.md
  .github/instructions/backend-python-fastapi.instructions.md
  .github/instructions/frontend-react-typescript.instructions.md
  .github/prompts/create-fastapi-endpoint.prompt.md
  .github/prompts/create-react-component.prompt.md
  Makefile
Due: none

feat: add comprehensive frontend scaffolding tutorial for modern React applications
  FRONTEND_SCAFFOLDING_TUTORIAL.md
Due: none

feat: integrate Zustand for state management in recipe app tutorial
  FRONTEND_SCAFFOLDING_TUTORIAL.md
Due: none

backend tutorial
  BACKEND_TUTORIAL.md
Due: none

refactor: streamline backend tutorial content and improve structure
  BACKEND_TUTORIAL.md
Due: none

Tutorials (#12)
  BACKEND_TUTORIAL.md
  FRONTEND_SCAFFOLDING_TUTORIAL.md
Due: none

chore(frontend): expand .dockerignore, fix Dockerfile user creation, tidy dev compose
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  docker-compose.dev.yml
Due: none

fix: update .dockerignore to correctly match environment variable files and improve Dockerfile user creation
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
Due: none

chore(frontend): expand .dockerignore, fix Dockerfile user creation, tidy dev compose (#13)
  apps/frontend/.dockerignore
  docker-compose.dev.yml
Due: none

feat(frontend): add routing, pages, navigation and deps
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesDetail.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/pages/RecipesPage.tsx
Due: frontend-lint, frontend-format-check

feat: add cleanup and maintenance commands to Makefile
  Makefile
Due: none

feat: refactor Navigation component and add Zustand store for app state management
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/stores/useAppStore.ts
Due: frontend-lint, frontend-format-check

feat: update document title to PantryPilot
  apps/frontend/index.html
Due: none

feat: add tests for App and Navigation components, and implement useAppStore tests
  apps/frontend/src/App.test.tsx
  apps/frontend/src/components/Navigation.test.tsx
  apps/frontend/src/stores/useAppStore.test.tsx
Due: frontend-lint, frontend-format-check

feat: remove text-decoration from anchor tags in index.css
  apps/frontend/src/index.css
Due: frontend-format-check

feat: clean up Navigation test and add missing import in RecipesPage
  apps/frontend/src/components/Navigation.test.tsx
  apps/frontend/src/pages/RecipesPage.tsx
Due: frontend-lint, frontend-format-check

Scaffold frontend: Phase 1 — Router foundation & Zustand store (#14)
  Makefile
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.test.tsx
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Navigation.test.tsx
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesDetail.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/pages/RecipesPage.tsx
  apps/frontend/src/stores/useAppStore.test.tsx
  apps/frontend/src/stores/useAppStore.ts
Due: frontend-lint, frontend-format-check

feat(types): add Family, Ingredient, MealPlan, Recipe, and User interfaces
  apps/frontend/src/types/Family.ts
  apps/frontend/src/types/Ingredients.ts
  apps/frontend/src/types/MealPlan.ts
  apps/frontend/src/types/Recipe.ts
  apps/frontend/src/types/User.ts
Due: frontend-lint, frontend-format-check

first attempt at recipe backend
  apps/backend/src/models/recipes_names.py
Due: none

backend tables
  apps/backend/src/models/ingredient_names.py
  apps/backend/src/models/meal_history.py
  apps/backend/src/models/recipe_ingredients.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/models/users.py
Due: none

stuff!
  apps/backend/pyproject.toml
  apps/backend/src/models/base.py
  apps/backend/uv.lock
Due: none

feat: add SQLAlchemy base model and fix import issues
  apps/backend/src/models/base.py
  apps/backend/src/models/ingredient_names.py
  apps/backend/src/models/meal_history.py
  apps/backend/src/models/recipe_ingredients.py
  apps/backend/src/models/recipes_names.py
  apps/backend/src/models/users.py
Due: none

feat(frontend): add modular API endpoint interfaces and auth store
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/auth.ts
  apps/frontend/src/api/endpoints/health.ts
  apps/frontend/src/api/endpoints/ingredients.ts
  apps/frontend/src/api/endpoints/mealPlans.ts
  apps/frontend/src/api/endpoints/recipes.ts
  apps/frontend/src/stores/useAuthStore.ts
  apps/frontend/src/types/Auth.ts
Due: frontend-lint, frontend-format-check

edits suggested by Copilot
  apps/backend/src/models/ingredient_names.py
  apps/backend/src/models/meal_history.py
  apps/backend/src/models/recipe_ingredients.py
  apps/backend/src/models/recipes_names.py
Due: none

chore(frontend): add MSW + Vitest setup, tests, and api client fixes
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/api/__tests__/client.test.ts
  apps/frontend/src/api/__tests__/health.integration.test.ts
  apps/frontend/src/api/__tests__/health.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/test/mocks/handlers.ts
  apps/frontend/src/test/mocks/server.ts
  apps/frontend/src/test/setup.ts
  apps/frontend/vitest.config.ts
Due: frontend-lint, frontend-format-check

adding user to schema
  .vscode/settings.json
  Makefile
  apps/backend/src/models/users.py
  db/init/02-schema-setup.sql
Due: none

Update apps/frontend/src/api/client.ts
  apps/frontend/src/api/client.ts
Due: frontend-lint, frontend-format-check
