Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd apps/frontend && npm run format:check'
  language: system
  pass_filenames: false

Remove MobileDemoPage from router configuration
  apps/frontend/src/pages/MobileDemoPage.tsx
  apps/frontend/src/routerConfig.tsx
Due: frontend-lint, frontend-format-check

feat: Add mobile-friendly Add button for meal planning with day selection dialog (#97)
  apps/frontend/src/components/recipes/DaySelectionDialog.tsx
  apps/frontend/src/components/recipes/__tests__/DaySelectionDialog.test.tsx
  apps/frontend/src/hooks/__tests__/useMediaQuery.test.ts
  apps/frontend/src/hooks/useMediaQuery.ts
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
  apps/frontend/src/types/DayOption.ts
  apps/frontend/src/utils/labelHelpers.ts
Due: frontend-lint, frontend-format-check

feat: Add Mini Beast chat mode and enhance Playwright MCP configuration
  .github/chatmodes/minibeast.chatmode.md
  .kilocode/mcp.json
Due: none

nit: formatting
  apps/frontend/public/ui-demo.html
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
  apps/frontend/src/hooks/__tests__/usePasteSplit.test.tsx
  apps/frontend/src/hooks/usePasteSplit.ts
  apps/frontend/src/pages/RecipesEditPage.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/utils/__tests__/pasteHelpers.test.ts
  apps/frontend/src/utils/pasteHelpers.ts
Due: frontend-lint, frontend-format-check

chore(frontend): remove ui-demo.html demo file
  apps/frontend/public/ui-demo.html
Due: none

fix(PasteSplitModal): replace useEffect with useLayoutEffect for better state synchronization
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
Due: frontend-lint, frontend-format-check

feat(Textarea): create reusable Textarea component with focus toggle; update PasteSplitModal and recipe pages to use it
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
  apps/frontend/src/components/recipes/__tests__/PasteSplitModal.test.tsx
  apps/frontend/src/components/ui/Textarea.tsx
  apps/frontend/src/components/ui/__tests__/Textarea.test.tsx
  apps/frontend/src/pages/RecipesEditPage.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
Due: frontend-lint, frontend-format-check

Improve readability of long recipe steps with textarea-based editing, smart paste detection, and enterprise-grade reliability (#99)
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
  apps/frontend/src/components/recipes/__tests__/PasteSplitModal.test.tsx
  apps/frontend/src/components/ui/Textarea.tsx
  apps/frontend/src/components/ui/__tests__/Textarea.test.tsx
  apps/frontend/src/hooks/__tests__/usePasteSplit.test.tsx
  apps/frontend/src/hooks/usePasteSplit.ts
  apps/frontend/src/pages/RecipesEditPage.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/utils/__tests__/pasteHelpers.test.ts
  apps/frontend/src/utils/pasteHelpers.ts
Due: frontend-lint, frontend-format-check

nit: formatting
  apps/frontend/src/pages/RecipesDetail.tsx
Due: frontend-lint, frontend-format-check

Replace numbered circles with bullet points in RecipesDetail ingredients list (#100)
  apps/frontend/src/pages/RecipesDetail.tsx
Due: frontend-lint, frontend-format-check

nit: formatting
  apps/frontend/src/components/RecipeQuickPreview.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/components/recipes/__tests__/RecipeCard.test.tsx
  apps/frontend/src/hooks/__tests__/useClickOutside.test.ts
  apps/frontend/src/hooks/__tests__/useMediaQuery.test.ts
  apps/frontend/src/hooks/__tests__/useSwipeGesture.test.ts
  apps/frontend/src/hooks/useClickOutside.ts
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/hooks/useSwipeGesture.ts
  apps/frontend/src/hooks/useTouchFeedback.ts
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesPage.tsx
Due: frontend-lint, frontend-format-check

Refactor RecipeQuickPreview to use build-time env mode for test detection; simplify matchMedia mocking in MealPlanPage tests
  apps/frontend/src/components/RecipeQuickPreview.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

Update ref types in hooks and RecipeQuickPreview to support nullable elements
  apps/frontend/src/components/RecipeQuickPreview.tsx
  apps/frontend/src/hooks/useClickOutside.ts
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/hooks/useSwipeGesture.ts
  apps/frontend/src/hooks/useTouchFeedback.ts
Due: frontend-lint, frontend-format-check

Fix Mobile Recipe Preview Usability Enhancement (#110)
  apps/frontend/src/components/RecipeQuickPreview.tsx
  apps/frontend/src/components/__tests__/RecipeQuickPreview.test.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/components/recipes/__tests__/RecipeCard.longTitle.test.tsx
  apps/frontend/src/components/recipes/__tests__/RecipeCard.test.tsx
  apps/frontend/src/hooks/__tests__/useClickOutside.test.ts
  apps/frontend/src/hooks/__tests__/useMediaQuery.test.ts
  apps/frontend/src/hooks/__tests__/useSwipeGesture.test.ts
  apps/frontend/src/hooks/useClickOutside.ts
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/hooks/useMediaQuery.ts
  apps/frontend/src/hooks/useSwipeGesture.ts
  apps/frontend/src/hooks/useTouchFeedback.ts
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesPage.test.tsx
  apps/frontend/src/pages/RecipesPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

chore: formatting
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/components/ui/toast-utils.ts
  apps/frontend/src/stores/useAuthStore.ts
  apps/frontend/src/utils/errorMessages.ts
Due: frontend-lint, frontend-format-check

chore: formatting
  apps/backend/src/core/error_handler.py
Due: none

Update apps/backend/src/core/error_handler.py
  apps/backend/src/core/error_handler.py
Due: none

Add toast-utils tests and enhance deduplication logic with createdAt timestamp
  apps/frontend/src/components/ui/toast-utils.test.ts
  apps/frontend/src/components/ui/toast-utils.ts
Due: frontend-lint, frontend-format-check

nit: formatting
  apps/frontend/src/components/ui/toast-utils.test.ts
Due: frontend-lint, frontend-format-check

Implement robust session handling for expired/invalid access tokens (#111)
  MANUAL_TESTING_AUTH.md
  apps/backend/src/core/error_handler.py
  apps/backend/tests/test_error_handler_unit.py
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/components/ProtectedRoute.tsx
  apps/frontend/src/components/ui/toast-utils.test.ts
  apps/frontend/src/components/ui/toast-utils.ts
  apps/frontend/src/stores/useAuthStore.ts
  apps/frontend/src/types/auth.ts
  apps/frontend/src/utils/__tests__/errorMessages.test.ts
  apps/frontend/src/utils/errorMessages.ts
  docs/API_DESIGN.md
Due: frontend-lint, frontend-format-check

nit: formatting
  .github/copilot-instructions.md
  .kilocode/rules/memory-bank/context.md
  .secrets.toml
  MANUAL_TESTING_AUTH.md
  README.md
  apps/backend/src/alembic/README
  apps/frontend/public/vite.svg
  apps/frontend/src/assets/react.svg
  docs/SECRETS_INCIDENT_RESPONSE.md
  docs/SECRET_SCANNING_GUIDE.md
  docs/SECURITY_IMPLEMENTATION.md
  docs/adr/ADR-001-security-headers-and-cors-baseline.md
  docs/adr/README.md
  nginx/conf.d/default.conf
  nginx/nginx.conf
Due: none

Update docs/SECRETS_INCIDENT_RESPONSE.md
  docs/SECRETS_INCIDENT_RESPONSE.md
Due: none

[WIP] P2 — Secrets Hygiene and Scanning (#112)
  .env.example
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .kilocode/rules/memory-bank/context.md
  .pre-commit-config.yaml
  .secrets.baseline
  .secrets.toml
  MANUAL_TESTING_AUTH.md
  Makefile
  README.md
  apps/backend/pyproject.toml
  apps/backend/src/alembic/README
  apps/backend/uv.lock
  apps/frontend/public/vite.svg
  apps/frontend/src/assets/react.svg
  docs/SECRETS_INCIDENT_RESPONSE.md
  docs/SECRET_SCANNING_GUIDE.md
  docs/SECURITY_IMPLEMENTATION.md
  docs/adr/ADR-001-security-headers-and-cors-baseline.md
  docs/adr/README.md
  nginx/conf.d/default.conf
  nginx/nginx.conf
Due: none

test: refactor MealPlanPage test to use spy on markCooked for state mutation
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

chore: formatting
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
  apps/frontend/src/components/recipes/__tests__/PasteSplitModal.test.tsx
  apps/frontend/src/pages/RecipesEditPage.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
Due: frontend-lint, frontend-format-check

chore: update Node.js version to 24.1.0 in CI, Dockerfile, and package.json
  .github/workflows/ci.yml
  .nvmrc
  apps/frontend/Dockerfile
  apps/frontend/package.json
Due: frontend-format-check

test: mock markCooked in MealPlanPage test to update store state without network calls
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

test: mock API call for markMealCooked in MealPlanPage test to simulate state update
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

nit: formatting
  .secrets.baseline
  apps/frontend/src/components/ui/icons/trash.svg
Due: none

Replace "Remove" text buttons with trash icons and ensure 44x44px touch targets (#124)
  .secrets.baseline
  apps/frontend/src/components/recipes/PasteSplitModal.tsx
  apps/frontend/src/components/recipes/__tests__/PasteSplitModal.test.tsx
  apps/frontend/src/components/ui/Button.tsx
  apps/frontend/src/components/ui/icons/trash.svg
  apps/frontend/src/pages/RecipesEditPage.tsx
  apps/frontend/src/pages/RecipesNewPage.test.tsx
  apps/frontend/src/pages/RecipesNewPage.tsx
Due: frontend-lint, frontend-format-check

test: refactor MealPlanPage test to use act for state updates and improve API call verification
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

test: refactor MealPlanPage test to directly call store method for entry removal and add logging
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

chore formatting
  apps/backend/src/alembic/versions/20251212_07_add_ai_drafts_table.py
  apps/backend/src/api/v1/ai.py
  apps/backend/src/core/security.py
  apps/backend/src/crud/ai_drafts.py
  apps/backend/src/models/ai_drafts.py
  apps/backend/src/schemas/ai.py
  apps/backend/src/services/__init__.py
  apps/backend/src/services/ai/__init__.py
  apps/backend/src/services/ai/agents.py
  apps/backend/src/services/ai/html_extractor.py
  apps/backend/tests/test_ai_extraction.py
Due: none

Enhance AI recipe extraction with improved error handling and public routes
  .github/chatmodes/minibeast.chatmode.md
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/models/ai_drafts.py
  apps/backend/src/schemas/ai.py
  apps/backend/src/services/ai/agents.py
  apps/backend/tests/conftest.py
  apps/backend/tests/test_ai_extraction.py
Due: none

Add Gemini API key configuration and enhance AI extraction flow documentation
  .env.example
  apps/backend/src/api/v1/ai.py
  apps/backend/src/core/config.py
  apps/backend/src/services/ai/agents.py
  apps/backend/src/services/ai/html_extractor.py
  apps/backend/tests/test_ingredient_prep_normalization.py
  docs/AI_RECIPE_EXTRACTION_FLOW.md
Due: none

Refactor AI extraction stream to use configurable draft TTL and add tests for extraction failure scenarios
  apps/backend/src/api/v1/ai.py
  apps/backend/tests/test_ai_extraction.py
Due: none

Refactor AI extraction pipeline and improve test coverage
  .secrets.baseline
  apps/backend/src/api/v1/ai.py
  apps/backend/src/core/security.py
  apps/backend/src/crud/ai_drafts.py
  apps/backend/src/services/ai/extraction_pipeline.py
  apps/backend/tests/test_ai_extraction.py
Due: none

Refactor AI extraction tests for improved structure and clarity
  apps/backend/src/api/v1/ai.py
  apps/backend/src/schemas/ai.py
  apps/backend/src/services/ai/draft_service.py
  apps/backend/src/services/ai/exceptions.py
  apps/backend/src/services/ai/extraction_pipeline.py
  apps/backend/src/services/ai/interfaces.py
  apps/backend/src/services/ai/models.py
  apps/backend/src/services/ai/orchestrator.py
  apps/backend/tests/ai/test_api_extract_nonstream.py
  apps/backend/tests/ai/test_api_extract_stream.py
  apps/backend/tests/ai/test_conversion.py
  apps/backend/tests/ai/test_draft_tokens.py
  apps/backend/tests/ai/test_html_extractor.py
  apps/backend/tests/ai/test_schema_models.py
  apps/backend/tests/fixtures/ai/recipes.py
  apps/backend/tests/fixtures/ai_fixtures.py
  apps/backend/tests/test_ai_extraction.py
  apps/backend/tests/test_ai_stream_order.py
Due: none

Add owner-only draft retrieval endpoint for authenticated users
  apps/backend/src/api/v1/ai.py
Due: none

Add NoFoodOrDrinkRecipe model for clearer extraction failure handling
  apps/backend/src/schemas/ai.py
  apps/backend/src/services/ai/agents.py
Due: none

Path conditions:
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
