Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: []
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 73b0f6d59bbfcb75e17a4653d581c9dfaca13969  # v0.12.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bash -c 'cd apps/frontend && npm run format:check'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

feat: Update backend security audit to ignore specific vulnerability until patched
  .github/workflows/ci.yml
Due: none

feat: Enhance AddByPhotoModal with camera support and image thumbnails (#146)
  .github/workflows/ci.yml
  apps/frontend/eslint.config.js
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/__tests__/aiDrafts.test.ts
  apps/frontend/src/api/endpoints/aiDrafts.ts
  apps/frontend/src/components/ErrorBoundary.tsx
  apps/frontend/src/components/recipes/AddByPhotoModal.test.tsx
  apps/frontend/src/components/recipes/AddByPhotoModal.tsx
  apps/frontend/src/components/recipes/ImageThumbnail.test.tsx
  apps/frontend/src/components/recipes/ImageThumbnail.tsx
  apps/frontend/src/components/recipes/__tests__/AddByPhotoModal.fallback.test.tsx
  apps/frontend/src/components/recipes/__tests__/AddByPhotoModal.integration.test.tsx
  apps/frontend/src/components/recipes/__tests__/AddByPhotoModal.keyboard.test.tsx
  apps/frontend/src/components/recipes/__tests__/AddByPhotoModal.responsive.test.tsx
  apps/frontend/src/components/recipes/__tests__/AddByPhotoModal.test.tsx
  apps/frontend/src/components/ui/ErrorMessage.tsx
  apps/frontend/src/hooks/__tests__/useImageSelection.test.ts
  apps/frontend/src/hooks/__tests__/useImageSelection.test.tsx
  apps/frontend/src/hooks/useImageSelection.test.ts
  apps/frontend/src/hooks/useImageSelection.ts
  apps/frontend/src/hooks/useMediaQuery.ts
  apps/frontend/src/pages/RecipesNewPage.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx.tmp
  apps/frontend/src/utils/__tests__/generateImageThumbnail.test.ts
  apps/frontend/src/utils/generateImageThumbnail.ts
  apps/frontend/src/utils/pasteHelpers.ts
  apps/frontend/tsconfig.eslint.json
Due: frontend-lint, frontend-format-check

Refactor mobile meal planning components for improved layout and readability; enhance recipe title visibility and styling
  apps/frontend/src/components/MobileMealCard.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/__tests__/MobileMealCard.test.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/components/recipes/__tests__/RecipeCard.longTitle.test.tsx
  apps/frontend/src/components/ui/Badge.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check

Refactor MobileMealCard tests for improved readability and consistency; update assertions and remove unused tests
  apps/frontend/src/components/__tests__/MobileMealCard.test.tsx
Due: frontend-lint, frontend-format-check

Adjust RecipeCard positioning for mobile and enhance RecipesPage grid layout for better responsiveness
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/pages/RecipesPage.tsx
Due: frontend-lint, frontend-format-check

Add polyfill for window.matchMedia in setupTests for consistent test environments
  apps/frontend/src/setupTests.ts
Due: frontend-lint, frontend-format-check

Enhance MealPlanPage tests for improved clarity and reliability; update comments and assertions for modal interactions
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

Refactor meal planning components for improved clarity and layout; remove unused props, enhance title visibility, and ensure stable prop identity
  apps/frontend/src/components/MobileMealCard.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check

Update apps/frontend/package.json
  apps/frontend/package.json
Due: frontend-format-check

Remove interaction test for recipe entries with long titles in MealPlanPage mobile tests
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check

Update apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
Due: frontend-lint, frontend-format-check

Update apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
Due: frontend-lint, frontend-format-check

chore: formatting
  apps/frontend/src/components/MobileMealCard.tsx
  apps/frontend/src/setupTests.ts
Due: frontend-lint, frontend-format-check

Add mobile-optimized meal planning interface with collapsible daily views (#163)
  apps/frontend/src/components/MobileMealCard.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/__tests__/MobileMealCard.test.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/components/recipes/__tests__/RecipeCard.longTitle.test.tsx
  apps/frontend/src/components/ui/Badge.tsx
  apps/frontend/src/components/ui/__tests__/Badge.test.tsx
  apps/frontend/src/components/ui/icons/chevron-down.svg
  apps/frontend/src/components/ui/icons/pencil.svg
  apps/frontend/src/components/ui/index.ts
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.mobile.test.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
  apps/frontend/src/setupTests.ts
Due: frontend-lint, frontend-format-check

fix: update /dev/shm tmpfs permissions for backend service
  docker-compose.prod.yml
Due: none

Update docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

fix: update /dev/shm tmpfs permissions for backend service (#171)
  docker-compose.prod.yml
Due: none

feat(cloud): add Azure deployment infrastructure for PantryPilot
  .github/workflows/build-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .secrets.baseline
  apps/backend/Dockerfile.acr
  apps/backend/src/core/config.py
  apps/backend/src/dependencies/db.py
  apps/backend/src/main.py
  apps/backend/tests/conftest.py
  infra/main.bicep
  infra/main.json
  infra/modules/acr.bicep
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
  infra/modules/keyvault.bicep
  infra/modules/postgresql.bicep
  infra/modules/staticwebapp.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
  scripts/azure-migrate.sh
  scripts/migrate-data-to-azure.sh
Due: none

fix(ci): correct Azure resource names and environment detection in workflows
  .github/workflows/build-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

fix(backend): resolve ProxyHeadersMiddleware security and CORS logic issues
  apps/backend/src/main.py
Due: none

fix(scripts): correct Key Vault naming and improve migration reliability
  scripts/azure-migrate.sh
  scripts/migrate-data-to-azure.sh
Due: none

docs(dockerfile): document worker count optimization for Azure Container Apps
  apps/backend/Dockerfile
Due: none

fix(main): add coverage pragmas for ProxyHeadersMiddleware and CORS handling in production
  apps/backend/src/main.py
Due: none

chore(ci): add codecov.yml to relax patch coverage for infrastructure code
  codecov.yml
Due: none

feat(cloud): add Azure deployment infrastructure for PantryPilot (#172)
  .github/workflows/build-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .secrets.baseline
  apps/backend/Dockerfile.acr
  apps/backend/src/core/config.py
  apps/backend/src/dependencies/db.py
  apps/backend/src/main.py
  apps/backend/tests/conftest.py
  codecov.yml
  infra/main.bicep
  infra/main.json
  infra/modules/acr.bicep
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
  infra/modules/keyvault.bicep
  infra/modules/postgresql.bicep
  infra/modules/staticwebapp.bicep
  infra/parameters/main.dev.bicepparam
  infra/parameters/main.prod.bicepparam
  scripts/azure-migrate.sh
  scripts/migrate-data-to-azure.sh
Due: none

infra(cloud): add Azure Communication Services Bicep module
  infra/main.bicep
  infra/modules/communication.bicep
Due: none

fix(cloud): update custom email domain to smartmealplanner.app
  infra/main.bicep
Due: none

feat(cloud): add Gemini API key secret reference to Container Apps
  infra/modules/containerapps.bicep
Due: none

refactor(cloud): address PR review feedback
  infra/main.bicep
  infra/modules/communication.bicep
Due: none

feat(cloud): add Azure Communication Services infrastructure for email (#174)
  infra/main.bicep
  infra/modules/communication.bicep
  infra/modules/containerapps.bicep
Due: none

feat(backend): add rate limiting with Upstash Redis for auth and AI endpoints
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/auth.py
  apps/backend/src/core/config.py
  apps/backend/src/core/ratelimit.py
  apps/backend/uv.lock
  docs/API_DESIGN.md
Due: none

fix(backend): improve rate limiting reset time and client identifier
  apps/backend/src/core/ratelimit.py
Due: none

fix(backend): address rate limiting PR review feedback
  apps/backend/src/core/config.py
  apps/backend/src/core/ratelimit.py
Due: none

feat(backend): add rate limiting tests and Azure infrastructure
  apps/backend/tests/core/test_ratelimit.py
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/parameters/main.dev.bicepparam
Due: none

feat(backend): add rate limiting with Upstash Redis for auth and AI endpoints (#175)
  apps/backend/pyproject.toml
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/auth.py
  apps/backend/src/core/config.py
  apps/backend/src/core/ratelimit.py
  apps/backend/tests/core/test_ratelimit.py
  apps/backend/uv.lock
  docs/API_DESIGN.md
  infra/main.bicep
  infra/modules/containerapps.bicep
  infra/parameters/main.dev.bicepparam
Due: none

fix(deploy): update dev workflow location to Central US
  .github/workflows/deploy-dev.yml
Due: none

fix(deploy): update prod workflow location to Central US
  .github/workflows/deploy-prod.yml
Due: none

Fix/azure-deployment-location (#182)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

feat(auth): implement email verification and password reset flows
  .secrets.baseline
  apps/backend/pyproject.toml
  apps/backend/src/alembic/versions/20251130_08_add_is_verified_to_users.py
  apps/backend/src/api/v1/auth.py
  apps/backend/src/core/config.py
  apps/backend/src/core/email.py
  apps/backend/src/core/security.py
  apps/backend/src/crud/user.py
  apps/backend/src/models/users.py
  apps/backend/src/schemas/auth.py
  apps/backend/tests/test_auth.py
  apps/backend/tests/test_auth_register.py
  apps/backend/uv.lock
Due: none
