Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd apps/frontend && npm run format:check'
  language: system
  pass_filenames: false

test: fix failing tests after AddMealDialog refactor
  apps/frontend/src/components/AddMealDialog.tsx
  apps/frontend/src/components/__tests__/AddMealDialog.test.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/pages/RecipesPage.test.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
Due: frontend-lint, frontend-format-check

refactor(tests): simplify interval callback execution in VerifyEmailPage tests
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
Due: frontend-lint, frontend-format-check

refactor(tests): simplify VerifyEmailPage test by removing interval handling
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
Due: frontend-lint, frontend-format-check

feat: MealPlanPage redesign with mobile navigation and day-first add workflow (#288)
  apps/frontend/src/components/AddMealDialog.tsx
  apps/frontend/src/components/MobileMealPlanView.tsx
  apps/frontend/src/components/__tests__/AddMealDialog.test.tsx
  apps/frontend/src/components/__tests__/MobileMealPlanView.test.tsx
  apps/frontend/src/components/recipes/RecipeCard.tsx
  apps/frontend/src/components/ui/icons/chevron-left.svg
  apps/frontend/src/hooks/__tests__/useClickOutside.test.ts
  apps/frontend/src/hooks/useClickOutside.ts
  apps/frontend/src/pages/MealPlanPage.tsx
  apps/frontend/src/pages/RecipesPage.test.tsx
  apps/frontend/src/pages/RecipesPage.tsx
  apps/frontend/src/pages/__tests__/MealPlanPage.test.tsx
  apps/frontend/src/pages/__tests__/VerifyEmailPage.test.tsx
Due: frontend-lint, frontend-format-check

fix: prevent logout when draft token expires in AI recipe deep links
  apps/frontend/src/api/client.ts
Due: frontend-lint, frontend-format-check

fix: update default limit for recipe retrieval to 500 for better UX
  apps/frontend/src/api/endpoints/recipes.ts
Due: frontend-lint, frontend-format-check

fix(application): address PR review feedback for draft token 401 handling
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
Due: frontend-lint, frontend-format-check

fix: prevent logout when draft token expires in AI recipe deep links (#289)
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/recipes.ts
Due: frontend-lint, frontend-format-check

fix: remove duplicate Navigation folder
  apps/frontend/src/components/Navigation/Brand.tsx
  apps/frontend/src/components/Navigation/Navigation.test.tsx
  apps/frontend/src/components/Navigation/Navigation.tsx
  apps/frontend/src/components/Navigation/index.ts
Due: frontend-lint, frontend-format-check

chore: sync main with production after v2.0.0 release (#293)
  apps/frontend/package-lock.json
Due: frontend-format-check

fix: commit draft after image upload to fix streaming endpoint
  apps/backend/src/api/v1/ai.py
Due: none

fix: commit draft after image upload to fix streaming endpoint (#300)
  apps/backend/src/api/v1/ai.py
Due: none

Release/2.0.1 (#301)
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

fix: extract user message text from content_blocks when loading chat history
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

Add test coverage for loadMessages content extraction logic (#303)
  apps/frontend/package-lock.json
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
Due: frontend-lint, frontend-format-check

Fix: User messages not appearing in chat conversation history (#302)
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

Release/2.0.2 - Fix image upload "Draft not found" error (#304)
  apps/backend/src/api/v1/ai.py
  apps/backend/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/stores/__tests__/useChatStore.test.ts
  apps/frontend/src/stores/useChatStore.ts
Due: frontend-lint, frontend-format-check

fix(application): prevent false session expired toast for unauthenticated users
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/security.py
  apps/backend/tests/test_chat_tool_stream_events.py
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/aiDrafts.ts
  apps/frontend/src/components/recipes/AddByPhotoModal.tsx
Due: frontend-lint, frontend-format-check

fix(application): resolve mypy type errors and update tests
  apps/backend/src/core/observability.py
  apps/backend/src/core/security.py
  apps/backend/tests/test_observability.py
Due: none

fix(application): address PR review feedback
  apps/backend/src/api/v1/ai.py
  apps/frontend/src/api/client.ts
Due: frontend-lint, frontend-format-check

fix(application): prevent false session expired toast for unauthenticated users (#306)
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/observability.py
  apps/backend/src/core/security.py
  apps/backend/tests/test_chat_tool_stream_events.py
  apps/backend/tests/test_observability.py
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/aiDrafts.ts
  apps/frontend/src/components/recipes/AddByPhotoModal.tsx
Due: frontend-lint, frontend-format-check

Release/2.0.3 (#308)
  apps/frontend/src/api/__tests__/client-auth.test.ts
Due: frontend-lint, frontend-format-check

Release/2.0.3 (#307)
  apps/backend/src/api/v1/ai.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/core/observability.py
  apps/backend/src/core/security.py
  apps/backend/tests/test_chat_tool_stream_events.py
  apps/backend/tests/test_observability.py
  apps/frontend/src/api/__tests__/client-auth.test.ts
  apps/frontend/src/api/client.ts
  apps/frontend/src/api/endpoints/aiDrafts.ts
  apps/frontend/src/components/recipes/AddByPhotoModal.tsx
Due: frontend-lint, frontend-format-check

feat(chat): add AI title generation service
  apps/backend/src/services/chat_title_generator.py
Due: none

feat(chat): add title updates to frontend
  apps/frontend/src/pages/AssistantPage.tsx
Due: frontend-lint, frontend-format-check

test(chat): add tests for conversation list polling
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
Due: frontend-lint, frontend-format-check

feat(chat): add scheduled background jobs
  apps/backend/pyproject.toml
  apps/backend/src/core/scheduler.py
  apps/backend/src/main.py
  apps/backend/uv.lock
Due: none

fix(backend): add type ignores for rowcount attribute
  apps/backend/src/services/chat_retention.py
Due: none

feat(chat): add title_updated_at tracking for AI-generated titles
  apps/backend/src/alembic/versions/20260129_16_add_title_updated_at.py
  apps/backend/src/core/scheduler.py
  apps/backend/src/models/chat_conversations.py
  apps/backend/src/services/chat_title_generator.py
Due: none

fix(types): correct type ignore placement for APScheduler imports
  apps/backend/src/core/scheduler.py
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(tests): correct polling interval for test environment
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
Due: frontend-lint, frontend-format-check

feat(chat): AI-generated titles with scheduled background jobs (#310)
  apps/backend/pyproject.toml
  apps/backend/src/alembic/versions/20260129_16_add_title_updated_at.py
  apps/backend/src/core/scheduler.py
  apps/backend/src/main.py
  apps/backend/src/models/chat_conversations.py
  apps/backend/src/services/chat_retention.py
  apps/backend/src/services/chat_title_generator.py
  apps/backend/uv.lock
  apps/frontend/src/pages/AssistantPage.tsx
  apps/frontend/src/pages/__tests__/AssistantPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(application): include tool calls in chat history
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_conversation_history.py
Due: none

refactor(application): simplify chat history role handling
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_conversation_history.py
Due: none

test(application): cover tool history edge cases
  apps/backend/tests/test_chat_conversation_history.py
Due: none

Fix chat history to include tool calls/results (#311)
  apps/backend/src/api/v1/chat.py
  apps/backend/tests/test_chat_conversation_history.py
Due: none

feat: fix chat history tool calls and add training data capture
  apps/backend/scripts/export_training_data.py
  apps/backend/src/alembic/versions/20260130_17_add_ai_training_samples.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/chat.py
  apps/backend/src/api/v1/feedback.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/ai_training_samples.py
  apps/backend/src/models/chat_conversations.py
  apps/backend/src/schemas/ai_training_samples.py
  apps/backend/src/services/chat_agent/training_capture.py
  apps/backend/tests/test_training_capture.py
  apps/frontend/src/api/endpoints/feedback.ts
  apps/frontend/src/components/chat/ChatMessage.tsx
  apps/frontend/src/components/chat/FeedbackButtons.test.tsx
  apps/frontend/src/components/chat/FeedbackButtons.tsx
  apps/frontend/src/types/Chat.ts
Due: frontend-lint, frontend-format-check

refactor: address review feedback for training capture
  apps/backend/src/api/v1/chat.py
  apps/frontend/src/components/chat/FeedbackButtons.test.tsx
  apps/frontend/src/components/chat/FeedbackButtons.tsx
Due: frontend-lint, frontend-format-check

Path conditions:
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
