Repository bostdiek/PantryPilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd apps/frontend && npm run format:check'
  language: system
  pass_filenames: false

feat(ci): enhance deployment workflows for frontend and key vault integration
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Due: none

Chore/ci run on production prs 20251215 (#212)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  infra/main.bicep
  infra/modules/communication.bicep
Due: none

deploy-20260103 (#213)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  infra/main.bicep
  infra/modules/communication.bicep
Due: none

feat(cors): add production-specific CORS origins for backend API
  infra/main.bicep
Due: none

Update infra/main.bicep
  infra/main.bicep
Due: none

refactor(infra): use configurable pattern for frontend custom domains in CORS (#215)
  infra/main.bicep
  infra/main.json
Due: none

feat(cors): add production-specific CORS origins for backend API (#214)
  infra/main.bicep
  infra/main.json
Due: none

chore(infra): merge main into production with resolved CORS conflicts (#217)
  infra/main.bicep
  infra/main.json
Due: none

fix(infra): add ACS connection string and email sender to Container App
  .secrets.baseline
  infra/main.bicep
  infra/main.json
  infra/modules/containerapps.bicep
Due: none

fix(infra): add ACS connection string and email sender to Container App (#218)
  .secrets.baseline
  infra/main.bicep
  infra/main.json
  infra/modules/containerapps.bicep
Due: none

chore(infra): merge main into production (2026-01-04) (#219)
  .secrets.baseline
  infra/main.bicep
  infra/main.json
  infra/modules/containerapps.bicep
Due: none

chore: sync production back to main (2026-01-04) (#220)
  infra/main.json
Due: none

feat: add FRONTEND_URL to Container Apps infrastructure for production email links
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

feat: add FRONTEND_URL to Container Apps infrastructure for production email links (#222)
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

container app reduction
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

refactor: clean up code formatting and comments across multiple files
  .secrets.baseline
  apps/frontend/src/hooks/useResendCooldown.ts
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/ResendVerificationPage.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/__tests__/ResendVerificationPage.test.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/utils/emailValidation.ts
  apps/frontend/src/utils/resendVerification.ts
Due: frontend-lint, frontend-format-check

Add dedicated resend verification email page following industry standards (#221)
  .secrets.baseline
  apps/frontend/src/hooks/useResendCooldown.ts
  apps/frontend/src/pages/LoginPage.test.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/ResendVerificationPage.tsx
  apps/frontend/src/pages/VerifyEmailPage.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/__tests__/ResendVerificationPage.test.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/utils/emailValidation.ts
  apps/frontend/src/utils/resendVerification.ts
Due: frontend-lint, frontend-format-check

Deploy to production - 2026-01-07 (#227)
  apps/frontend/src/hooks/useResendCooldown.ts
  apps/frontend/src/pages/LoginPage.test.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/ResendVerificationPage.tsx
  apps/frontend/src/pages/VerifyEmailPage.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/__tests__/ResendVerificationPage.test.tsx
  apps/frontend/src/routerConfig.tsx
  apps/frontend/src/utils/emailValidation.ts
  apps/frontend/src/utils/resendVerification.ts
Due: frontend-lint, frontend-format-check

chore(infra): merge main into production with all conflicts resolved (#230)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .secrets.baseline
  apps/frontend/package-lock.json
  apps/frontend/package.json
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: frontend-format-check

feat: Add Azure Static Web Apps SPA fallback routing for verify-email deep links
  apps/frontend/public/staticwebapp.config.json
Due: frontend-format-check

feat: Add Azure Static Web Apps SPA fallback routing for verify-email deep links (#231)
  apps/frontend/public/staticwebapp.config.json
Due: frontend-format-check

Deploy SWA fix config.json (#232)
  apps/frontend/public/staticwebapp.config.json
Due: frontend-format-check

container app reduction (#226)
  infra/main.bicep
  infra/modules/containerapps.bicep
Due: none

Refactor: Update API title and health check message to SmartMealPlanner; add description and oven temperature fields to grocery list model
  apps/backend/src/alembic/versions/20260109_09_add_description_and_oven_temp_to_recipes.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/main.py
  apps/backend/tests/test_grocery_lists_api.py
Due: none

Fix recipe description and oven_temperature_f persistence (#235)
  apps/backend/src/alembic/versions/20260109_09_add_description_and_oven_temp_to_recipes.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/api/v1/recipes.py
  apps/backend/src/main.py
  apps/backend/src/models/recipes_names.py
  apps/backend/tests/test_grocery_lists_api.py
  apps/backend/tests/test_recipes.py
  apps/backend/tests/test_recipes_api.py
Due: none

feat(application): add navigation component with brand logo
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon-192x192.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/og-image.png
  apps/frontend/public/smartmealplanner-logo.svg
  apps/frontend/src/assets/logo/smartmealplanner-logo.svg
  apps/frontend/src/components/Navigation/Brand.tsx
  apps/frontend/src/components/Navigation/Navigation.test.tsx
  apps/frontend/src/components/Navigation/Navigation.tsx
  apps/frontend/src/components/Navigation/index.ts
  apps/frontend/src/components/ui/Button.tsx
  apps/frontend/src/components/ui/Textarea.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
Due: frontend-lint, frontend-format-check

fix(build): align react-dom version with react to resolve CI test failures
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format-check

🔧 chore(deps): consolidate dependabot updates from PRs #237, #236, #233, #204
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/ui/Button.tsx
  apps/frontend/src/components/ui/Textarea.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
Due: frontend-lint, frontend-format-check

feat(application): rebrand PantryPilot to Smart Meal Planner with AI recipe focus
  apps/frontend/src/components/ui/DisclosureDemo.tsx
  apps/frontend/src/components/ui/TabsDemo.tsx
  apps/frontend/src/lib/logger.ts
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/dev/ComponentShowcase.tsx
  apps/frontend/src/types/UserPreferences.ts
Due: frontend-lint, frontend-format-check

feat(application): add navigation component with brand logo (#238)
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon-192x192.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/og-image.png
  apps/frontend/public/smartmealplanner-logo.svg
  apps/frontend/src/assets/logo/smartmealplanner-logo.svg
  apps/frontend/src/components/Navigation/Brand.tsx
  apps/frontend/src/components/Navigation/Navigation.test.tsx
  apps/frontend/src/components/Navigation/Navigation.tsx
  apps/frontend/src/components/Navigation/index.ts
  apps/frontend/src/components/ui/DisclosureDemo.tsx
  apps/frontend/src/components/ui/TabsDemo.tsx
  apps/frontend/src/lib/logger.ts
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/dev/ComponentShowcase.tsx
  apps/frontend/src/types/UserPreferences.ts
Due: frontend-lint, frontend-format-check

fix(cloud): update Log Analytics retention to 30 days and API version to 2025-07-01
  .secrets.baseline
  infra/main.json
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
Due: none

fix(cloud): update Log Analytics retention to 30 days and API version to 2025-07-01 (#239)
  .secrets.baseline
  infra/main.json
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
Due: none

Deploy main to prod 20260113 (#240)
  .secrets.baseline
  apps/backend/src/alembic/versions/20260109_09_add_description_and_oven_temp_to_recipes.py
  apps/backend/src/api/v1/health.py
  apps/backend/src/api/v1/recipes.py
  apps/backend/src/main.py
  apps/backend/src/models/recipes_names.py
  apps/backend/tests/test_grocery_lists_api.py
  apps/backend/tests/test_recipes.py
  apps/backend/tests/test_recipes_api.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon-192x192.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/og-image.png
  apps/frontend/public/smartmealplanner-logo.svg
  apps/frontend/src/assets/logo/smartmealplanner-logo.svg
  apps/frontend/src/components/Navigation/Brand.tsx
  apps/frontend/src/components/Navigation/Navigation.test.tsx
  apps/frontend/src/components/Navigation/Navigation.tsx
  apps/frontend/src/components/Navigation/index.ts
  apps/frontend/src/components/ui/Button.tsx
  apps/frontend/src/components/ui/DisclosureDemo.tsx
  apps/frontend/src/components/ui/TabsDemo.tsx
  apps/frontend/src/components/ui/Textarea.tsx
  apps/frontend/src/lib/logger.ts
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/__tests__/RecipesNewPage.test.tsx
  apps/frontend/src/pages/__tests__/RegisterPage.test.tsx
  apps/frontend/src/pages/dev/ComponentShowcase.tsx
  apps/frontend/src/types/UserPreferences.ts
  infra/main.bicep
  infra/main.json
  infra/modules/containerapps.bicep
  infra/modules/containerapps.json
Due: frontend-lint, frontend-format-check

fix(infra): update production PostgreSQL storage to 128GB
  infra/main.bicep
Due: none

fix(infra): increase production PostgreSQL storage size to 128GB
  infra/main.bicep
  infra/main.json
Due: none

fix(infra): update production PostgreSQL storage to 128GB (#241)
  infra/main.bicep
  infra/main.json
Due: none

Prod dep 20260113 (#242)
  infra/main.bicep
  infra/main.json
Due: none

Path conditions:
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
